/* stylelint-disable */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
select,
textarea,
button {
    font: inherit;
}

body {
    margin: 0;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

b,
strong {
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

svg:not(:root) {
    overflow: hidden;
}

code,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
