main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    h1 {
        display: inline-block;
        font-weight: normal;
    }

    p {
        position: absolute;
        right: 1em;
        bottom: 1em;
        margin: 0;
    }

    span {
        color: white;
    }
}
