.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    dl {
        position: absolute;
        right: 1em;
        bottom: 1em;
        margin: 0;
    }

    dt {
        display: inline;
    }

    dd {
        display: inline;
        color: color('white', 'web');
        margin-left: 0.25em;
    }
}
